<section id="banner" class="app-background-secundario">
  <div class="container my-auto">
    <div class="row align-items-center g-3 px-lg-3">
      <div class="col-6 col-lg-3 mx-auto pt-2">
        <img
          class="img-fluid mt-4 rounded-circle"
          src="AlexAraldi.jpg"
          alt="Foto Alexander Araldi"
        />
      </div>
      <div class="col-lg">
        <div class="textContent">
          <p class="text-write display-5 mb-1">Olá, eu sou <strong>Alexander Araldi</strong>!</p>
          <span class="display-3 fw-bold app-banner-text">Desenvolvedor FullStack</span>
        </div>
        <div class="d-flex flex-wrap align-items-center gap-3 mt-5">
          <a
            class="btn btn-lg app-btn-principal px-5 fs-4 fw-semibold"
            style="width: 400px"
            href="#contato"
            >Contate-me!</a
          >
          <div class="d-flex justify-content-center">
            <a target="_blank" href="https://github.com/AlexAraldi">
              <img alt="Github logo" src="github.png" />
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/alexanderaraldi/">
              <img alt="Linkedin logo" src="linkedin.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
